<%= @current_user.full_name %>,
<p>This email serves as confirmation we successfully processed a one-time charge of $50.00 for your card.</p> 
<table>
  <tr>
    <td>
      <hr>
       Upgraded refreshrunner account..................................$50.00
      <hr>
    </td>
  </tr>
</table>
<p>Keep this receipt for you records. Any questions email us at the above email address.</p>
<p>Thanks for being a paying customer.</p>
