<div class="row nav-under-wrapper">
  <% if !user_signed_in? %>
    <ul class="nav-under-not-home pull-right">
      <li><%= link_to "Home", root_path  %></li>
     <li><%= link_to "What it does", does_path  %></li>
     <li class="imhere"><%= link_to "Benefits of using", benefits_path  %></li>
     <li id="right-link"><%= link_to "What it costs", pricing_path  %></li>
    <% end %>
  </ul>
</div>
<div>
  <h3 class="page-header">If any of these scenarios below makes sense to you, try out the solution. If not, theres no value here move along</h3>
</div>
<div class="offset2 span6" id='container'>
  <h5 class="faq_header">First anecdote</h5>
  <div class='content'>Knew you were trouble </div>
  <hr>
  <h5 class="faq_header">Second anecdote</h5>
  <div class='content'> he was long gone </div>
  <hr>
  <h5 class="faq_header">Third anecdote</h5>
  <div class='content'>joke on me</div> 
  <hr>
  <h5 class="faq_header">First anecdote</h5>
  <div class='content'>Knew you were trouble </div>
  <hr>
  <h5 class="faq_header">Second anecdote</h5>
  <div class='content'> he was long gone </div>
  <hr>
  <h5 class="faq_header">Third anecdote</h5>
  <div class='content'>joke on me</div>
  <hr>
  <h5 class="faq_header">First anecdote</h5>
  <div class='content'>Knew you were trouble </div>
  <hr>
  <h5 class="faq_header">Second anecdote</h5>
  <div class='content'> he was long gone </div>
  <hr>
  <h5 class="faq_header">Third anecdote</h5>
  <div class='content'>joke on me</div>
  <hr>
  <h5 class="faq_header">First anecdote</h5>
  <div class='content'>Knew you were trouble </div>
  <hr>
  <h5 class="faq_header">Second anecdote</h5>
  <div class='content'> he was long gone </div>
  <hr>
  <h5 class="faq_header">Third anecdote</h5>
  <div class='content'>joke on me</div>
  <hr>
  <h5 class="faq_header">First anecdote</h5>
  <div class='content'>Knew you were trouble </div>
  <hr>
  <h5 class="faq_header">Second anecdote</h5>
  <div class='content'> he was long gone </div>
  <hr>
  <h5 class="faq_header">Third anecdote</h5>
  <div class='content'>joke on me</div> 
</div>

<script>
//On click any <h3> within the container
$('#container h5').click(function(e) {

    //Close all <div> but the <div> right after the clicked <a>
    $(e.target).next('div').siblings('div').slideUp('fast');

    //Toggle open/close on the <div> after the <h3>, opening it if not open.
    $(e.target).next('div').slideToggle('fast');
});
    </script>