<div class="row nav-under-wrapper">
  <% if !user_signed_in? %>
    <ul class="nav-under-not-home pull-right">
      <li><%= link_to "Home", root_path  %></li>
     <li class='imhere'><%= link_to "What it does", does_path  %></li>
     <li><%= link_to "Benefits of using", benefits_path  %></li>
     <li id="right-link"><%= link_to "What it costs", pricing_path  %></li>
    <% end %>
  </ul>
</div>
<div class="row does_description_whole" style="background-color: red;">
  <div class="row">
    <div class="span3">
      <p>This is how this shit works</p>
    </div>
  </div>  
</div>
<div class="row does_description_whole">
  <div class="row offset3">
    <div class="span3 does_description_text">
      <h4>Create Your Project</h4>
      <p>Screenshot of clicking new project and something smart/funny</p>
    </div>
    <div class="span3">
      <img src="http://www.placehold.it/175x175">
    </div>
  </div>  
</div>  
<div class="row does_description_whole">
  <div class="row offset3">
    <div class="span3">
      <img src="http://www.placehold.it/175x175">
    </div>
    <div class="span3 does_description_text">
      <h4>Invite by email</h4>
      <p>Screen shot of you inviting </p>
    </div>
  </div>  
</div>
<div class="row does_description_whole">
  <div class="row offset3">
    <div class="span3 does_description_text">
      <h4>Assign yourself and others</h4>
      <p>This is what needs to happen to complete this thing without all the extra chit chat.</p>
    </div>
    <div class="span3">
      <img src="http://www.placehold.it/175x175">
    </div>
  </div>  
</div>
<div class="row does_description_whole">
  <div class="row offset3">
    <div class="span3">
      <img src="http://www.placehold.it/175x175">
    </div>
    <div class="span3 does_description_text">
      <h4>This Hear it Roar</h4>
      <p>This is your and this is how close it is to completion.</p>
    </div>
  </div>  
</div>
<div class="row does_description_whole">
  <div class="row offset3">
    <div class="span3 does_description_text">
      <h4>Multiple</h4>
      <p>Maybe you have more things you need to do. Rinse and repeat to have a quick look at everything</p>
    </div>
    <div class="span3">
      <img src="http://www.placehold.it/175x175">
    </div>
  </div>  
</div>
<div class="row does_description_whole">
  <div class="row offset3">
    <div class="span3">
      <img src="http://www.placehold.it/175x175">
    </div>
    <div class="span3 does_description_text">
      <h4>This view shows</h4>
      <p>This view shows who's up next for the project and hover over to see the next person up</p>
    </div>
  </div>  
</div>
<div class="row does_description_whole">
  <div class="row offset3">
    <div class="span3 does_description_text">
      <h4>Reorder</h4>
      <p>Reorder by importance of needing to be complete</p>
    </div>
    <div class="span3">
      <img src="http://www.placehold.it/175x175">
    </div>
  </div>  
</div>