<div class="row nav-under-wrapper">
  <% if !user_signed_in? %>
    <ul class="nav-under-not-home pull-right">
      <li><%= link_to "Home", root_path  %></li>
     <li class='imhere'><%= link_to "What it does", does_path  %></li>
     <li><%= link_to "Benefits of using", benefits_path  %></li>
     <li id="right-link"><%= link_to "What it costs", pricing_path  %></li>
    <% end %>
  </ul>
</div>
<div class="row does_description_whole">
  <div class="row offset3">
    <div class="span3 does_description_text">
      <h4>Hot text title with red</h4>
      <p>The juicy hey Im talking to you text don't you agree with me lorem ipsum hispter bacon'</p>
    </div>
    <div class="span3">
      <img src="http://www.placehold.it/175x175">
    </div>
  </div>  
</div>  
<div class="row does_description_whole">
  <div class="row offset3">
    <div class="span3">
      <img src="http://www.placehold.it/175x175">
    </div>
    <div class="span3 does_description_text">
      <h4>Hot text title with red</h4>
      <p>The juicy hey Im talking to you text don't you agree with me lorem ipsum hispter bacon'</p>
    </div>
  </div>  
</div>
<div class="row does_description_whole">
  <div class="row offset3">
    <div class="span3 does_description_text">
      <h4>Hot text title with red</h4>
      <p>The juicy hey Im talking to you text don't you agree with me lorem ipsum hispter bacon'</p>
    </div>
    <div class="span3">
      <img src="http://www.placehold.it/175x175">
    </div>
  </div>  
</div>
<div class="row does_description_whole">
  <div class="row offset3">
    <div class="span3">
      <img src="http://www.placehold.it/175x175">
    </div>
    <div class="span3 does_description_text">
      <h4>Hot text title with red</h4>
      <p>The juicy hey Im talking to you text don't you agree with me lorem ipsum hispter bacon'</p>
    </div>
  </div>  
</div>
<div class="row does_description_whole">
  <div class="row offset3">
    <div class="span3 does_description_text">
      <h4>Hot text title with red</h4>
      <p>The juicy hey Im talking to you text don't you agree with me lorem ipsum hispter bacon'</p>
    </div>
    <div class="span3">
      <img src="http://www.placehold.it/175x175">
    </div>
  </div>  
</div>