<h1 style="margin-top:80px;">Because at the end of the day (sigh), What did you actually do by the end of the day?</h1>
<div style="height:400px;width:400px;"></div>

<img src="https://lh3.googleusercontent.com/-nhTefKLna2Y/UItsziqBNvI/AAAAAAAAACc/XX-UBX3SgQM/s986/Screen%2520Shot%25202012-10-26%2520at%252010.09.51%2520PM.png" />