<br />
<br />
<p> Thanks for checking refreshrunner out. Check your email to confirm you account and email address. Your account will <strong>expire after 7 days</strong> without this confirmation.</p>
<br />
<p>Or, you can <%= link_to 'start working', lists_path %> right away, and add the above as a todo to your today list!</p>

