<br />
<br />
<p> Thanks for signing up! Please check your email to confirm you account and email address. Your
account will expire after 7 days without confirmation.</p>
<br />
<p> Or you can <%= link_to 'start working', lists_path %> right away. </p>

