<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Hey-<br />
      <strong><%= @inviter.full_name %></strong> has invited you to the <strong><%= @list.name %></strong>.   <br />
    </p>
    <p>  
      <%= link_to "Click here", accept_invitation_url(:token => @invitation.token) %> to accept the invitation and join the list.<br /> Questions? Contact <%= @inviter.email %>
    </p><br />
    <p>This is an email sent from refreshrunner.com when someone onvites you to their project.</p>
   
  </body>
</html>
