/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.well {
 min-height: 340px;
}

 ul.task-list {
   margin:0;
   padding:0;
   list-style:none; 
 }

 ul#completed {
   opacity:.5; 
   text-decoration:line-through;
   font-style:italic;
 }

#plumb_chart {
  height: 600px;
  width:  740px;
  background-color: #FAFAFA;
}

#plumb_button {
  
  margin-top: 30px;
  margin-bottom:20px;
}