/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.datepicker
 *= require_self
 *= require_tree .
 */

.well {
 min-height: 340px;
}

a {
	color: #00A4ED;
}
 ul.task-list {
   margin:0;
   padding:0;
   list-style:none; 
 }

 ul#completed {
   opacity:.5; 
   text-decoration:line-through;
   font-style:italic;
 }


.gravatar_index {
  border-radius: 40px;
  height: 60px;
  width: 60px;
}
.simple_form
  div.input
    margin-bottom: 10px
    clear: both

  label
    float: left
    width: 100px
    text-align: right
    margin: 2px 10px

  .error
    clear: left
    color: black
    display: block
    margin-left: 120px

  .hint
    clear: left
    margin-left: 120px
    color: #555
    display: block
    font-style: italic

div.boolean, .simple_form input[type='submit']
  margin-left: 120px

div.boolean label, label.collection_radio_buttons
  float: none
  margin: 0

label.collection_radio_buttons
  margin-right: 10px
  vertical-align: -2px
  margin-left: 2px

.field_with_errors
  background-color: #ff3333

input.radio
  margin-right: 5px
  vertical-align: -3px

input.check_boxes
  margin-left: 3px
  vertical-align: -3px

label.collection_check_boxes
  float: none
  margin: 0
  vertical-align: -2px
  margin-left: 2px