/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.datepicker
 *= require_self
 *= require bootstrap
 *= require front
 *= require lists
 *= require tasks
 *= require lightbox
 *= require joyride-2.0.3
 */
.well {
 min-height: 340px;
}

a {
	color: #00A4ED;
}
 ul.task-list {
   margin:0;
   padding:0;
   list-style:none; 
 }

 ul#completed {
   opacity:.5; 
   font-style:italic;
 }


.gravatar_index {
  border-radius: 40px;
  height: 65px;
  width: 65px;
}
.gravatar_edit {
	border-radius: 10px;
  height: 200px;
  width: 200px;
}
.notice {
	text-align: center;
}

#loading img {
	width:100px;
	height:100px;
}

/*.task-list li span, .task-list li div {
	float:left;
	width:100px;
}*/
#error_explanation h2{
	
	color: red;
}

span.require{color: red;}

.trial_ending {
	color: black;
	padding: 4px;
	font-weight: bold;
	background-color: #FFDF00;
}

/*Overriding bootstrap rules*/
form label, label.control-label{font-weight: bold; color: #555;}
label.radio{font-weight: normal; color: #333}
.dropdown-menu{z-index: 1005;}

