// Place all the styles related to the front controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* First Section */
#front_container {
  margin-top: -7px;
  /* fallback */
  background-color: red;
  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#ff3939), to(#A80000));
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, #ff3939, #A80000);
  /* Firefox 3.6+ */ 
  background: -moz-radial-gradient(circle, #ff3939, #A80000);
  /* IE 10 */ 
  background: -ms-radial-gradient(circle, #ff3939, #A80000);
  /* Opera cannot do radial gradients yet */
}
#front_mktng_title {
  font-family: helvetica;
  font-size: 32px;
  color: white;
  line-height: 35px;
}
#front_mktng_copy {
  margin-left: 120px;
  text-align: justify;
  color: #272727;
  font-size: 21px;
  line-height: 25px;

}
#front_mktng_image {
  margin-top: 18px;	
  margin-left: 125px;	
  height: 310px;
  width: 612px;
}
#front_mktng_list_thumb {
  display: inline;
  margin-left: 0px;
  list-style: none;	
  padding-top: 5px;
  padding-left: 12px;
}

#front_mktng_thumbs {
  display: inline;	
  padding-right: 3px;
}
.thumb_mktng_border {
	border-width: 4px;
    border-radius: 5px;
    border-style: solid;
    border-color: #A80000;
}
.carousel.carousel-fade .item {
  -webkit-transition: opacity .6s ease-in-out;
  -moz-transition: opacity .6s ease-in-out;
  -ms-transition: opacity .6s ease-in-out;
  -o-transition: opacity .6s ease-in-out;
  transition: opacity .6s ease-in-out;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  right: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
.image_mktng_border {
    border-width: 8px;
    border-radius: 5px;
    border-style: solid;
    border-color: #A80000;
}
#front_hold {
  padding-top: 55px;	
  width: 1153px;
  height: 430px;
}

/* Start Second Section */
#next_front_container {

}
#second-front_hold {
  width: 1153px;
  height:303px;
}
.front_pricing_box {
	padding-top: 20px;
}

.front_icon_space {
  float: left;
  min-height: 1px;
  margin-left: 20px;
  width: 10px;
}
.front_pricing_copy {
  float: left;
  min-height: 1px;
  margin-left: 40px;
  width: 140px;
	
}
.front_copy_icon {
	border-bottom: solid 1px #eee;
	margin-left: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.front_pricing_lead {
	width: 225px;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 10px;
	font-weight: bold;
	opacity: .8;
	color: #A80000;
}
.front_actual_price {
	font-family: helvetica;
	padding-top: 30px;
    text-align: center;
}
.front_price_button {
	
	font-family: helvetica;
	letter-spacing: 31px;
    text-align: center;
}
.front_pricing_header {
	background: #3195b2;
	margin-top: -20px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	color: white;
	height: 75px;
	width: 260px;
	text-align: center;
}

.signup_well {
	width: 335px;
	min-height: 20px;
	  padding: 19px;
	  margin-bottom: 20px;
	  background-color: #f5f5f5;
	  border: 1px solid #e3e3e3;
	  -webkit-border-radius: 4px;
	     -moz-border-radius: 4px;
	          border-radius: 4px;
	  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.front_signup_lead {
	width: 225px;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 10px;
	font-weight: bold;
	opacity: .8;
	color: #A80000;
}
#submit_front_button {
	margin-top: 5px;
	margin-left: 40px;
	
}
.actual_button {
	background-color: red;
	color: white;
	letter-spacing: 1px;
	font-family: helvetica;
	height: 40px;
	font-size: 16px;
	width: 100px;
	border: none;
	border-radius: 3px;
	
	
}

.actual_signup_form {
	margin-left: 55px;
}
#third_front_container {
	background-color: white;
}
/*.second_step {
  display: none;
}
.third_step {
  display: none;
}*/
/*#submit_front_button {
  display: none;

}*/
#next_step {
	margin-top: -40px;
	margin-left: 40px;
}
/*Start Third section */

#next_front_container {
	background-image: url("https://lh3.googleusercontent.com/-PS_zDMBiB0Q/UMUAmkFjIpI/AAAAAAAAAG0/NB1FQ03mYEw/s200/noisy-texture-200x200-o9-d36-c-deffff-t1.png");
}
#link_to_signup_section {
	margin-top: -110px;
	margin-left: 255px;
	background-color: #00c8c8;
	color: white;
	letter-spacing: 1px;
	font-family: helvetica;
	height: 50px;
	width: 200px;
	font-size: 16px;
	border: none;
	border-radius: 3px;
	text-decoration: none;
}
#link_to_signup_section:hover {
	color: black;
}


#no_underline {
  text-decoration: none;		
}

.switch_top_left {
	width: 375px;
	margin-left: 50px;
}
.switch_bottom_left ul {
	color: gray;
	width: 375px;
	font-size: 16px;
}
.switch_top_left p {
	line-height: 23px;
	color: gray;
	font-size: 16px;
	text-align: left;
	width: 350px;
}
.switch_top_left h4 {
	color: #A80000;
	margin-bottom: 3px;
}

.switch_top_right {
	width: 375px;
	margin-left: 120px;
}

.switch_top_right p {
	line-height: 23px;
	color: gray;
	font-size: 16px;
	text-align: left;
	width: 340px;
}
.switch_top_right h4 {
	color: #A80000;
	margin-bottom: 3px;
}
.switch_bottom_left{
	margin-top: 30px;
	width: 375px;
	margin-left: 91px;
}
.switch_bottom_left p {
	line-height: 23px;
	color: gray;
	font-size: 16px;
	text-align: left;
	width: 375px;
}

.switch_bottom_left h4 {
	color: #A80000;
	margin-bottom: 3px;
}
.switch_bottom_right {
	margin-top: 30px;
	width: 390px;
	margin-left: 75px;
}
.switch_bottom_right p {
	line-height: 23px;
	color: gray;
	font-size: 16px;
	text-align: left;
	width: 350px;
}
.switch_bottom_right h4 {
	color: #A80000;
	margin-bottom: 3px;
}
















