// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.activity_feed_icon:hover {
	cursor: pointer;
	
}
#activity_feed {
	background-color: white; 
	height:auto;
	min-height: 400px;
	width:400px; 
	position:absolute; 
	margin-left: -400px;
	z-index:2;
	display:none;
}
ul#feed{
 list-style: none;
}

#activity_feed .pagination{display: none;}

.activity_feed_icon{
   border-radius: 20px;
}

.red_icon{background-color:red;}

.clicked{
  background: none;
}

.gage_index {
	margin-top: 20px;
	margin-left: -10px;
}
a{
	color: #00A4ED;
}
.signup_well p {
	font-size: 20px;
}
.well {
	background-color: #FFF8DC;
}

#index_description {
	margin-left:4px;
}

#index .well {
	width: 31%;
}

#completed_checkbox {
	margin-top: 15px;
	margin-right:15px;
}

#blame_game span {
  -webkit-transition: all .5s cubic-bezier(1.000, -0.360, 0.000, 1.385); 
  -moz-transition: all .5s cubic-bezier(1.000, -0.360, 0.000, 1.385); 
  -o-transition: all .5s cubic-bezier(1.000, -0.360, 0.000, 1.385); 
  -ms-transition: all .5s cubic-bezier(1.000, -0.360, 0.000, 1.385); 
  -webkit-transition-timing-function: cubic-bezier(1.000, -0.360, 0.000, 1.385);
  -moz-transition-timing-function: cubic-bezier(1.000, -0.360, 0.000, 1.385);
  -o-transition-timing-function: cubic-bezier(1.000, -0.360, 0.000, 1.385);
  -ms-transition-timing-function: cubic-bezier(1.000, -0.360, 0.000, 1.385);
}
.index_button {
    margin-left: -70px;
}


#list_show_title{
  	padding-bottom: 5px;
	border-bottom: 1px solid #eeeeee;	
	margin-bottom: 50px;
}
#task_show_description {
	margin-top: 17px;
}
.index_button a{
  color: #A80000;
}
.show_button, .show-participants {
  color: #A80000;
  font-weight: bold;
  margin-top: -40px;
}
.show_button:hover {
	text-decoration: underline;
	color: #A80000;
}
.invite_hover {
	color: #A80000;
	font-weight: bold;
}

.invite_hover:hover {	
	text-decoration: underline;
	color: #A80000;
	}

.index_title {
   height: 100px;
   width: 75%;
   font-size:1.5em;
   padding: 3px;
}

.index_title a{
  text-align:center;
  color: #A80000;
  font: helvetica;
  letter-spacing: 1.1px;
  font-weight:bold;
}

#blame_game {
  display:block;
  height:68px;
  margin:0 auto;
  outline:none;
  margin-left: 20px;
  margin-top: 45px;
  position:relative;
  width:68px;
}
#blame_game span {
    left:50%;
    margin:-34px 0 0 -34px;
    position:absolute;
    top:50%;
  }
 
.now {
  height:68px;
  -webkit-transform: scale(1) rotate(0deg);
  -moz-transform: scale(1) rotate(0deg);
  -o-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  width:68px;
  z-index:2;
}
.next {
  height:68px;
  opacity: 0.4;
  -webkit-transform:scale(0) rotate(0deg);
  -moz-transform:scale(0) rotate(0deg);
  -o-transform:scale(0) rotate(0deg);
  -ms-transform:scale(0) rotate(0deg);
  width:68px;
  z-index:1;
}

#blame_game:hover .now {
  -webkit-transform:scale(0) rotate(360deg);
  -moz-transform:scale(0) rotate(360deg);
  -o-transform:scale(0) rotate(360deg);
  -ms-transform:scale(0) rotate(360deg);
  z-index:1;
}

#blame_game:hover .next {
  -webkit-transform:scale(1) rotate(360deg);
  -moz-transform:scale(1) rotate(360deg);
  -o-transform:scale(1) rotate(360deg);
  -ms-transform:scale(1) rotate(360deg);
  z-index:2;
}

a.blurred{opacity: 0.9;}

#new_task_form {
  display:none;
  width:500px;
}

#incomplete li {
    border-top: 1px solid #DDDDDD;
    float: left;
    width: 100%;
    padding-bottom:5px;
}

#incomplete li:last-child{ border-bottom: 1px solid #ddd;}

#incomplete li:hover {
  border-top-color:#A80000;
  border-bottom: 1px solid #A80000;
  background-color: #f5f5f5;
}

.task-list li.last {
  // border-bottom:1px solid #DDDDDD;
  // border-top:1px solid #DDDDDD;
}

#incomplete li span form, #incomplete li span div, #incomplete li span img,  #completed li span form, #completed li span div {
  float:left;
  margin-right:5px;
}

#incomplete li span {
  float:left;
  width:100px;
  margin-top: 10px;
}

#incomplete li span.small {
  padding-top: 20px;
  width: 30px;
}

#incomplete li span.medium {
  width: 90px;
  padding-left: 30px;
  padding-top: 20px;
}

#incomplete li span.large {
  padding-top: 20px;
  width:470px;
}
#incomplete li span img {float: none; margin-right: none}
#incomplete li span.gravatar{ text-align: center; max-width: 110px; padding-right: 20px;}
#incomplete li div.assignee {
	margin-top: 2px;
	margin-left: 105px;
	border-radius: 70px 70px 70px 0px;
	display: none; 
	color: white; 
	position: absolute; 
	text-align: center; 
	background-color: rgba(0,0,0,0.4);
	
	}
/*#incomplete li.handle:hover .assignee{ display: inline; visibility: visible; }*/

#completed li span {
  float:left;
  width:100%;
}


.remove_task_bt {
  cursor:pointer;
}

.show-completed {margin-top: 10px}

table thead {
  background-color:#DDD;
}

.handle:hover{cursor: move;}
#participants{display: block; margin-top: 25px;}

td.remove {text-align: right;}
tr.false td{color: #999;}
tr.false td.remove a{display: none;}

.links123 {
	color: red;
}
.links123:hover {
	color: black;
}

.dropdown-form{padding: 15px;}
