<span style="background-color:#3f7df6; border-radius:8px;"><%= image_tag 'plus-small.png'%></span> <strong><%= activity.owner.full_name  %></strong> added a task to <strong> <%= link_to activity.recipient.name, list_path(activity.recipient),  target: "_blank" %></strong>
