<p>Thanks for siging up click the below link to activate your account <br />
  <%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token), :target => "_blank" %></p>

<p>The link should open in another tab but if it doesn't, copy and paste into your browser</p>
