<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: $<%= REGISTRATION_AMOUNT %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
          data-key="<%= STRIPE_PUBLIC_KEY %>"
          data-description="Continued Full User Acess"
          data-amount="<%= REGISTRATION_AMOUNT * 100 %>"></script>
<% end %>
