<%unless @error %>
  <h2>hey thanks guy you paid <strong>$<%= REGISTRATION_AMOUNT %></strong> for a pretty dope product.</h2>

  <p>You'll receive an email shortly with the info that just happened</p>
<%else%>
  <p>Sorry! Some thing went wrong. Please try again latter </p> 
<%end%>
  
