<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: $50.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Continued Full User Acess"
          data-amount="5000"></script>
<% end %>