<div class="container">
  <span class="offset5">
    <h2>make a payment you only live once thats the motto</h2>
  </span>  
</div>


<div class="span3 offset4">
  <%= render '/charges/new' %>
</div>

